body {
  background-color: white;
}

.headerWords {
  float: left;
  margin-top: 20px;
  font-size: 40px;
  background-color: #00C9B0
}

.welcome {
  display: inline-block;
  margin-top: 20px;
  font-size: 40px;
  color: #00C9B0;
  background-color: black;
}

span {
  color: black;
}

figcaption {
  color: black;
}

img {
  width: 200px;
  height: 200px;
}

textarea {
  resize: none;
  margin-left: 30px;
  width: 130px;
  border-radius: 5px;
  margin-top: 20px;
}

input {
  margin-top: 20px;
  margin-bottom: 20px;
}
